# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9f4cfd9fa195d4ba7cbe2c67d80e7c9466bb594a71cdcf0644091427dde2cf35962563ae9050655d719820c34a415e37b8b54fbd46e32ba23a88202cacb159a1

test:
  secret_key_base: 1a943edf5b5725864eabe5353da9aa86c55fe9437bec8107c9d8abb71d440a17508906d08ad3403f430c3b87c09daa5e9dfa97fad9306bea9929b54c0110ebc6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
